@font-face {
    font-family: playfairdisplay;
    src: url("../assests/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}


:root {
    --primary: #EEEEEE;
    --secondary: #DDDDDD;
    --tertiary: #FF8C32;
    --quaternary: #06113C;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--quaternary);
    font-family: playfairdisplay;
}

button {
    background-color: var(--quaternary);
    color: var(--primary);
}

button:hover {
    background-color: #12335f;
}

.App {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.thumbnail {
    height: 181px;
    width: 120px;
}