@font-face {
    font-family: playfairdisplay;
    src: url("../assests/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}


:root {
    --primary: #FFEEDB;
    --secondary: #FFD8CC;
    --tertiary: #FFBD9B;
    --quaternary: #0A1D37;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--quaternary);
    font-family: playfairdisplay;
}

button {
    background-color: var(--quaternary);
    color: var(--primary);
}

.App {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}