.card {
    border: 2px solid black;
    border-radius: 3%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    height: 220px;
    width: 220px;
    margin: 10px;
    text-align: center;
}