.card {
    border-radius: 3%;
    box-shadow: 10px 10px 15px 0px var(--quaternary);
    -webkit-box-shadow: 10px 10px 15px 0px var(--quaternary);
    -moz-box-shadow: 10px 10px 15px 0px var(--quaternary);
    margin: 10px;
    text-align: center;
    padding: 10px;
    height: 280px;
    width: 220px;
}

.card button {
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.card button:hover{
    background-color: #12335f;
}