.cart-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.cart-container h3 {
    margin: 20px;
}

.cart-container img {
    float: left;
}

.main-cart {
    padding: 7px;
}

.main-cart th {
    padding: 20px;
}

.main-cart tbody>tr>td {
    text-align: center;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product p {
    margin-left: 20px;
}

.product img {
    margin-left: 10px;
    margin-bottom: 10px;
}

.product-details p {
    padding: 10px;
}

.main-cart, .checkout {
    background-color: var(--secondary);
    border-radius: 5px;
}

.qty-counter {
    display: flex;
    align-items: center;
    padding: 20px;
}

td button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    border: 0;
    background: 0;
    height: 22px;
    width: 22px;
}

.plus-btn {
    background-image: url("../assests/icons/plus-square.svg");
}

.minus-btn {
    background-image: url("../assests/icons/minus-square.svg");
}

.plus-btn, .minus-btn {
    background-repeat: no-repeat;
    margin: 5px;
}

.plus-btn:hover, .minus-btn:hover, .remove-btn:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

.remove-btn {
    background-image: url("../assests/images/trash-2.svg");
    background-repeat: no-repeat;
}


.checkout {
    padding: 20px;
}

.checkout>h1 {
    margin: 40px;
    padding-bottom: 20px;
}

.checkout>p, .checkout>select {
    margin: 30px;
}

.checkout>label {
    margin: 30px;
}

.checkout>select {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--primary);
    border: 0;
    cursor: pointer;
}

.checkout>select:hover {
    background-color: rgb(194, 194, 194);
}

#total-cost {
    padding-bottom: 20px;
    margin: 40px;
}

.checkout h1, #total-cost {
    border-bottom: 3px solid var(--quaternary);
}

#checkout-btn {
    margin-left: 40px;
    border: none;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}