.cart-container {
    display: flex;
    justify-content: space-around;
}

.cart-container h3 {
    margin: 20px;
}

.cart-container img {
    float: left;
}

th {
    padding: 20px;
}

tbody>tr>td {
    text-align: center;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product p {
    margin-left: 20px;
}

.product-details p {
    padding: 5px;
}

.main-cart, .checkout {
    border: 2px solid black;
}

.qty-counter{
    display: flex;
    align-items: center;
    padding: 20px;
}

td button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    border: 0;
    background: 0;
    height: 22px;
    width: 22px;
}

.plus-btn {
    background-image: url("../assests/icons/plus-square.svg");
}

.minus-btn {
    background-image: url("../assests/icons/minus-square.svg");
}

.plus-btn, .minus-btn {
    background-repeat: no-repeat;
    margin: 5px;
}

.plus-btn:hover, .minus-btn:hover {
    cursor: pointer;
}

.checkout{
    padding: 20px;
}

.checkout>h1{
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: 3px solid #efefef;
}

.checkout>p, .checkout>select{
    margin: 30px;
}

.checkout>label{
    margin: 30px;
}

#total-cost{
    border-top: 3px solid #efefef;
    padding-top: 20px;
    margin: 40px;
}
