nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary);
}

nav li {
    list-style: none;
    padding: 10px;
    width: 80px;
    text-align: center;
    position: relative;
}

nav li:hover {
    background-color: #FFBD9B;
    color: black;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.cart-length {
    position: absolute;
    top: 0;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo span {
    margin-left: 5px;
}

.logo, nav li {
    padding: 10px;
}