nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 10px;
}

nav li {
    list-style: none;
    padding: 5px;
    position: relative;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.cart-length {
    position: absolute;
    top: 0;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo span {
    margin-left: 5px;
}